@import url('https://fonts.googleapis.com/css?family=Bad+Script');

body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    font-family: 'Bad Script', cursive;
}
h1
{
  margin: 0;
  padding: 0;
  color: #111;
  font-size: 5em;
}
h1 span
{
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate 2s linear infinite;
}
h1 span:nth-child(1)
{
  animation-delay: 0.25s;
}
h1 span:nth-child(2) 
{
  animation-delay: 0.5s;
}
h1 span:nth-child(3) 
{
  animation-delay: 0.75s;
}
h1 span:nth-child(4) 
{
  animation-delay: 1s;
}
h1 span:nth-child(5)
{
  animation-delay: 1.25s;
}
h1 span:nth-child(6)
{
  animation-delay: 1.5s;
}
h1 span:nth-child(7) 
{
  animation-delay: 1.75s;
}
h1 span:nth-child(8) 
{
  animation-delay: 2s;
}
h1 span:nth-child(9)
{
  animation-delay: 2.25s;
}
h1 span:nth-child(10) 
{
  animation-delay: 2.5s;
}

@keyframes animate 
{
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff,
                0 0 300px #00b3ff,
                0 0 400px #00b3ff,
                0 0 800px #00b3ff,
                0 0 1600px #00b3ff;
  }
  5%, 95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}
a
{
    position: relative;
    display: inline-block;
    padding : 15px 30px;
    color: #0127fd;
    text-transform: none; /* uppercase optional */
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2px;
}
a:hover  /* Style Cursor over on button */
{
    color: #ffffff;
    background:#fdec01;
    box-shadow: 0 0 10px #fdec01, 0 0 40px #fdec01,0 0 80px #fdec01;
    transition-delay: 1s;
}
a span /* function for span tag */
{
    position: absolute;
    display: block;
}
a span:nth-child(1) /* 1 . for top line */
{
    top: 0;
    left: 0%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#fdec01)

}
a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}

a span:nth-child(3) /* 2 . for bottom */
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#fdec01)

}
a:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2) /* 3 . for right side */
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#fdec01)

}
a:hover span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4) /* 4 . for left side */
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#fdec01)
}
a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* Common Style for div tag , Rows and Columns */
* 
{
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column 
{
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after 
{
  content: "";
  display: table;
  clear: both;
}
h1 
{
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: red;
}

p {
  text-align: center;
  color: red;
}
